/*
 * Copyright (c) 2024 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */
&sram0 {
		compatible = "zephyr,memory-region", "mmio-sram";
		zephyr,memory-region = "SRAM0";
		zephyr,memory-attr = <( DT_MEM_ARM_MPU_RAM_NOCACHE )>;
};

&spi4 {
	/* DMA requests 57 & 58 for the spi4 */
	dmas = <&gpdma1 0 58 STM32_DMA_PERIPH_TX
		&gpdma1 2 57 STM32_DMA_PERIPH_RX>;
	dma-names = "tx", "rx";

	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};

&gpdma1 {
	status = "okay";
};
